/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: #65a5e6;
}

/* Main content styles */
main {
    background-color: yellow;
}

/* Footer styles */
footer {
  background-color: #65a5e6;
}