/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Lato, sans-serif;
}

/* Header styles */
header {
  background-color: #ffffff;
  position: fixed; /*try other options later*/
  width: 100%;
  z-index: 99;
  padding: 0 1rem;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 255, 0.8);
}

header a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: blue;
  letter-spacing: 0.4px;
}

/* Main content styles */
main {
    background-color: yellow;
    /* Ensure main takes up remaining space */
    flex: 1 0 auto;
}

/* Footer styles */
footer {
  background-color: #65a5e6;
}
