/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Lato, sans-serif;
}

/* Header styles */
header {
  background-color: #ffffff;
  position: relative; /*try other options later*/
  width: 100%;
  z-index: 99;
  padding: 0 1rem;
  box-shadow: 0 3px 4px rgba(0, 0, 255, 0.6);
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {

  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: #3a3a3a;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: blue;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#menu {
  list-style-type: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 110%;
}
#menu > li {
  margin-bottom: 10px;
}

.active-link {
  font-weight: 500;
  border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 255, 0.6);
  left: 0;
  padding: 0 1rem;
  display: none; /* Hidden by default */
  top: 100%;
}

/* Main content styles */
main {
    background-color: yellow;
    /* Ensure main takes up remaining space */
    flex: 1 0 auto;
}

/* Footer styles */
footer {
  background-color: #454647ce;
}

footer a {
text-decoration: none;
color: white;
}

footer p{
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

#socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 1rem 0 0.5rem 0;
  font-size: 200%;
}

/* Media Query for screens 768px and up */
@media screen and (min-width: 768px){
  /* Header adjustments */
 nav {
  display: block;
  position: relative;
  box-shadow: none;
  width: 100%;
 }

 #menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
 }

 .nav-toggle-label {
  display: none;
 }

 h1 {
  letter-spacing: 3px;
 }
}

/* Media Query for screens 992px and up */
@media screen and (min-width: 992px){

  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}